<!DOCTYPE html>
<html ng-app="pieKiosk" >
	<head>
		<title>Order Tracker</title>
        
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <!-- see http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-dont-forget-the-viewport-meta-tag -->
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
        <style>
            /* following two viewport lines are equivalent to meta viewport statement above, needed for Windows */
            /* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html and http://dev.w3.org/csswg/css-device-adapt/ */
            @-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }  @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
            @-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }           @viewport { user-zoom: fixed ; min-zoom: 100% ; }
        </style>
        
        <script src="jquery.min.js"></script>
        <script src="angular.js"></script>
        
        <script src="pieCtrl.js"></script>
	</head>
    
	<body ng-controller="pieCtrl">
        
        <link rel="stylesheet" href="kiosk.css">
        
        <!-- Top Navbar -->
        <div class="tab">
            <button ng-style="{'background-color':(order_mode=='new'&&vis_page=='orderForm'?'#ccc':'#f1f1f1') }" ng-click="vis_page='orderForm';order_mode='new';refreshOrderTable()">New Order</button>
            <button ng-click="vis_page='orderedPies'">Ordered Pies</button>
            <button ng-click="vis_page='pieOrders'">Pie Orders</button>
            <button ng-style="{'background-color':(order_mode=='edit'&&vis_page=='orderForm'?'#ccc':'#f1f1f1') }" ng-click="show_search_window=true;vis_page='orderForm';order_mode='edit'">Edit Order</button>
        </div>

        <!-- Pie order form for "New Order" and "Edit Order" -->
        <div class="tabcontent" ng-show="vis_page=='orderForm'">
            <table cellspacing="0" class="orderTable" ng-repeat="all_pies_col in all_pies">

                <tr ng-repeat-start="pie in all_pies_col track by $index" ng-if="pie.pie_id==1 || pie.pie_id==35 || pie.pie_id==62 || pie.pie_id==67 || pie.pie_id==71 || pie.pie_id==83">
                    
                    <td ng-if="pie.pie_id!=83" class='pieHeader'>8 Inch</td>
                    <td ng-if="pie.pie_id!=83" class='pieHeader'>10 Inch</td>
                    <td ng-if="pie.pie_id<50" class='pieHeader' style='width:20vw'>FRUIT PIES</td>
                    <td ng-if="pie.pie_id==62" class='pieHeader' style='width:20vw'>NO SUGAR PIES</td>
                    <td ng-if="pie.pie_id==67" class='pieHeader' style='width:20vw'>CREAM PIES</td>
                    <td ng-if="pie.pie_id==71" class='pieHeader' style='width:20vw'>VEGETABLE PIES</td>
                    <td ng-if="pie.pie_id==83" class='pieHeader' colspan=3>OTHER</td>
                    
                </tr>
                
                <tr ng-repeat-end ng-if="pie.pie_name!=all_pies_col[$index+1].pie_name">
                    
                    <td ng-if="pie.pie_name==all_pies_col[$index-1].pie_name"><input type="number" ng-model="pie.amt1" ng-change="enterPieAmount(pie.amt1,pie.pie_id-1)"></td>
                    <td ng-if="pie.pie_name==all_pies_col[$index-1].pie_name"><input type="number" style="width:100%" ng-model="pie.amt2" ng-change="enterPieAmount(pie.amt2,pie.pie_id)"></td>
                    
                    <td ng-if="pie.pie_name!=all_pies_col[$index-1].pie_name && pie.pie_size==8" colspan=2 style='background-color:black'><input type='number' class='pieInput8' ng-model="pie.amt1" ng-change="enterPieAmount(pie.amt1,pie.pie_id)"></td>
                    
                    <td ng-if="pie.pie_name!=all_pies_col[$index-1].pie_name && (pie.pie_size==9 || pie.pie_size==0)" colspan=2 style='background-color:black'><input type='number' class='pieInput9' ng-model="pie.amt1" ng-change="enterPieAmount(pie.amt1,pie.pie_id)"></td>
                    
                    <td ng-if="pie.pie_name!=all_pies_col[$index-1].pie_name && pie.pie_size==10" colspan=2 style='background-color:black'><input type='number' class='pieInput10' ng-model="pie.amt1" ng-change="enterPieAmount(pie.amt1,pie.pie_id)"></td>
                    
                    <td class='pieName'>{{pie.pie_name}}</td>
                    
                </tr>
                
                <tr ng-if="all_pies_col.length<31">
                    <td class='pieHeader' colspan=3><button ng-click="getMyCtrlScope().show_cust_window=true" class='doneButton'>CUSTOMER INFO</button></td>
                </tr>

            </table>
        </div>
        
        <!-- Customer info window -->
        <div class="orderWindowBackdrop" ng-show="show_cust_window">
            <div class="orderWindow">
                <div style="width:100%"><div>First Name: </div><input ng-model="newOrderFirstName" type="text" class="orderInput"></div>
                <div style="width:100%"><div>Last Name: </div><input ng-model="newOrderLastName" type="text" class="orderInput"></div>
                <div style="width:100%"><div>Date & Time: </div><input ng-model="newOrderDatetime" type="datetime-local" class="orderInput"></div>
                <div style="width:100%"><div>Phone: </div><input ng-model="newOrderPhone" type="tel" class="orderInput"></div>
                <div style="width:100%"><div>Notes: </div><textarea  ng-model="newOrderNotes" type="text" rows="3" class="orderInput"></textarea></div>
                <div>
                    <button ng-click="show_cust_window=false" class="orderButton">Back</button>
                    <button ng-click="submitOrder()" class="orderButton">Submit</button>
                </div>
            </div>
        </div>


        <!-- Search orders window -->
        <div class="orderWindowBackdrop" ng-show="show_search_window">
            <div class="orderWindow" style="width:80vw;left:10vw;height:90vh;top:2vh;font-size:3vh">
                <div style="margin-bottom:1vh">Search orders by name or phone number (no hyphens) <button style="float:right;font-size:3vh" ng-click="show_search_window=false;order_mode='new'">Cancel</button></div>
                <div><input type="text" class="orderInput" style="width:100%;font-size:5vh" ng-model="order_search_box" ng-change="search_orders()"></input></div>
                <div class="searchResultsBox">
                    <table class="searchResultTable" cellspacing="0">
                        <tr><td class='pieHeader'>Customer Name</td><td class='pieHeader'>Date</td><td class='pieHeader'>Time</td><td class='pieHeader'>Order</td></tr>
                        <tr ng-click="select_order(order)" ng-repeat="order in found_orders"><td>{{order.last_name+', '+order.first_name}}</td><td>{{order.disp_date}}</td><td>{{order.time}}</td><td>{{order.disp_order}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
    
    
    
        <!-- List of all ordered pies for a given day -->
        <div class="tabcontent" ng-show="vis_page=='orderedPies'">
            <table cellspacing="0" class="orderTable" ng-repeat="all_pies_col in all_pies">

                <tr ng-repeat-start="pie in all_pies_col track by $index" ng-if="pie.pie_id==1 || pie.pie_id==35 || pie.pie_id==62 || pie.pie_id==67 || pie.pie_id==71 || pie.pie_id==83">
                    
                    <td ng-if="pie.pie_id!=83" class='pieHeader'>8 Inch</td>
                    <td ng-if="pie.pie_id!=83" class='pieHeader'>10 Inch</td>
                    <td ng-if="pie.pie_id<50" class='pieHeader' style='width:20vw'>FRUIT PIES</td>
                    <td ng-if="pie.pie_id==62" class='pieHeader' style='width:20vw'>NO SUGAR PIES</td>
                    <td ng-if="pie.pie_id==67" class='pieHeader' style='width:20vw'>CREAM PIES</td>
                    <td ng-if="pie.pie_id==71" class='pieHeader' style='width:20vw'>VEGETABLE PIES</td>
                    <td ng-if="pie.pie_id==83" class='pieHeader' colspan=3>OTHER</td>
                    
                </tr>
                
                <tr ng-repeat-end ng-if="pie.pie_name!=all_pies_col[$index+1].pie_name">
                    
                    <td ng-if="pie.pie_name==all_pies_col[$index-1].pie_name"><input type="number" ng-model="pie.amt1" ng-change="enterPieAmount(pie.amt1,pie.pie_id-1)"></td>
                    <td ng-if="pie.pie_name==all_pies_col[$index-1].pie_name"><input type="number" style="width:100%" ng-model="pie.amt2" ng-change="enterPieAmount(pie.amt2,pie.pie_id)"></td>
                    
                    <td ng-if="pie.pie_name!=all_pies_col[$index-1].pie_name && pie.pie_size==8" colspan=2 style='background-color:black'><input type='number' class='pieInput8' ng-model="pie.amt1" ng-change="enterPieAmount(pie.amt1,pie.pie_id)"></td>
                    
                    <td ng-if="pie.pie_name!=all_pies_col[$index-1].pie_name && (pie.pie_size==9 || pie.pie_size==0)" colspan=2 style='background-color:black'><input type='number' class='pieInput9' ng-model="pie.amt1" ng-change="enterPieAmount(pie.amt1,pie.pie_id)"></td>
                    
                    <td ng-if="pie.pie_name!=all_pies_col[$index-1].pie_name && pie.pie_size==10" colspan=2 style='background-color:black'><input type='number' class='pieInput10' ng-model="pie.amt1" ng-change="enterPieAmount(pie.amt1,pie.pie_id)"></td>
                    
                    <td class='pieName'>{{pie.pie_name}}</td>
                    
                </tr>
                
                <tr ng-if="all_pies_col.length<31">
                    <td class='pieHeader' colspan=3><button ng-click="getMyCtrlScope().show_cust_window=true" class='doneButton'>CUSTOMER INFO</button></td>
                </tr>

            </table>
        </div>


        <div class="tabcontent" ng-show="vis_page=='pieOrders'">
            <div class="bottomnav">
                <div>today</div>
            </div>
        </div>
        
	</body>
</html>